body
  padding-top 61px

.navbar
  color white

.navbar-header
  margin-top -15px
  margin-bottom -20px

a.navbar-brand
  margin-top 15px

.navbar-form .form-group
  margin-right 10px

.content
  margin-top 30px

footer
  margin-top 50px
  padding 0 15px
  p
    padding-top 10px
    border-top 1px solid #ccc


#toast-container
  margin-top 50px
